 body {
    background-image: linear-gradient(to bottom, #fae4e4, #d1d1f8);
    color: white;
}

.card {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

input {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
} 